[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pytest = "*"
pytest-cov = "*"
flaky = "*"
coveralls = "*"
mne = "*"
mne-bids = "*"
pyedflib = "*"
pooch = "*"
matplotlib = "*"
jupyter = "*"
pyprep = "*"
ipython = "*"
python-dotenv = "*"
git-annex-adapter = "*"
gitpython = "*"
pandas = "*"
sklearn = "*"
sktime = {version = "==0.11.1", extras = ["all_extras"]}

[dev-packages]
# Full sktime dependency set
dtw-python = "*"
esig= "0.9.7"
hcrystalball = "0.1.9"
pmdarima = "1.8.0"
pyod = "0.8.0"
pystan = "2.19.1.1"
scikit_posthocs = "0.6.5"
seaborn = "0.11.0"
statsforecast = "0.5.2"
stumpy = "1.5.1"
tbats = "1.1.0"
tensorflow = "*"
tensorflow-probability = "*"
tsfresh = "0.17.0"
tslearn = "0.5.2"

[requires]
python_version = "3.8"
