[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.12.5"
sktime = "0.10.1"
scipy = "1.7.3"
pytest = "*"
pytest-cov = "*"
flaky = "*"
coveralls = "*"
mne = "*"
mne-bids = "*"
pyedflib = "*"
pooch = "*"
matplotlib = "*"
jupyter = "*"
pyprep = "*"
ipython = "==8.0.1"

[dev-packages]

[requires]
python_version = "3.8"
